.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/*.ts
**/.eslintrc.json
**/.env
**/*.log
# **/node_modules/**
# !node_modules/jspdf/**
# !node_modules/fflate/**
# !node_modules/dotenv/**
**/*.tmp
**/*.temp
**/venv/**
**/dist/**
**/out/**
.DS_Store
Thumbs.db